{{#partial "content"}}
    <h3>Game Developers:</h3>
    {{#if developers}}
        <ul>
            {{#each developers}}
                <li><h4>{{name}}</h4><a href="/developers/{{id}}">Details</a>
                    <br>
                    <a href="/developers/{{id}}/delete">Delete</a></li>
            {{/each}}
        </ul>
    {{else}}
        <h4>There are no developers to show</h4>
    {{/if}}
    <a href="/developers/new">Add new game developer</a>

{{/partial}}

{{> layout.hbs}}