<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Game Reviewer{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/games">View All Games</a></li>
    <li role="presentation"><a href="/games/new">Add a New Game</a></li>
    <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Game Developer Menu <span class="caret"></span>
    </a>
        <ul class="dropdown-menu">
            <li><a href="/developers">Game Developer List</a></li>
            {{#if developers}}
                {{#each developers}}

                    <li><a href="/developers/{{id}}">{{name}}</a></li>
                {{/each}}
            {{/if}}
            <li><a href="/developers/new">Add a developer</a></li>
        </ul>
    </li>
    <li><a href="/lucky">I'm Feeling Lucky</a></li>
    <li>
        <form action="/search" method="post">
            <input type="text" name="search" id="search" placeholder="Search">
            <button type="submit" class="btn btn-success btn-sm">Search</button>
        </form>
    </li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <img src="/images/dice.jpg" width="40%" alt="https://unsplash.com/search/task?photo=Lh_bn9SgRSY">
        <h1>Welcome to the Game Reviewer. <small>GLHF lets go.</small></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <hr>
            <p class="text-muted">
                <a href="/developers/delete">Delete all Developers & Games</a><br>
                <a href="/games/delete">Delete all Games</a>
            </p>
        </div>
    </footer>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}